// Joystix
@font-face {
  font-family: 'Joystix';
  src: url('../assets/fonts/joystix.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Balloon
@font-face {
  font-family: 'Balloon';
  src: url('../assets/fonts/balloon.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// PTRootUI
@font-face {
  font-family: 'PTRootUI';
  src: url('../assets/fonts/PTRootUI/regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PTRootUI/regular.woff') format('woff'),
  url('../assets/fonts/PTRootUI/regular.woff2') format('woff2'),
  url('../assets/fonts/PTRootUI/regular.ttf') format('truetype');
  font-weight: normal; // 400
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../assets/fonts/PTRootUI/bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PTRootUI/bold.woff') format('woff'),
  url('../assets/fonts/PTRootUI/bold.woff2') format('woff2'),
  url('../assets/fonts/PTRootUI/bold.ttf') format('truetype');
  font-weight: 700; // bold
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../assets/fonts/PTRootUI/medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PTRootUI/medium.woff') format('woff'),
  url('../assets/fonts/PTRootUI/medium.woff2') format('woff2'),
  url('../assets/fonts/PTRootUI/medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PTRootUI';
  src: url('../assets/fonts/PTRootUI/light.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/PTRootUI/light.woff') format('woff'),
  url('../assets/fonts/PTRootUI/light.woff2') format('woff2'),
  url('../assets/fonts/PTRootUI/light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

